/* dropdown basic style */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown button style */
.dropbtn {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
  background-color: lightcyan;
  border: none;
  font-size: 20px;
}

/* dropdown content (hidden by default) style */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 360px;
  box-shadow: 0px 8;
  padding: inherit;
}

/* dropdown text style */
.bold-text-dropdown {
  font-weight: bold;
  text-transform: capitalize;
  color: blue;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: text;
}

/* list tag style */
.li-tag {
  padding: 10px;
  list-style-type: none;
}

/* dropdown content (open the dropdown menu) style */
.dropdown-content.show {
  display: block;
}

