/* parent header style */
.container {  
  height: 50px;
  padding: 1.5em;
  padding-bottom: 1em;
  background-color: burlywood;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.icon {
  width: 181px; 
  height: 65px;
}

.group-link {
  font-size: 23px; 
  padding-right: 20px;
}
