/* css for the remaining content */
.footLayout {
  background-color: #081528;
  height: 28em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footWrap {
  line-height: 2.7;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footText {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
}

.footDescription {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  color: #6F7F92;
}

.footImage {
  width: 21%;
  height: 90%;
}

