/* css for the remaining 4 sections after the introduction section */
.layout {
  margin: 5px;
  
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: red;
  text-Transform: capitalize;
}

.description {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  word-spacing: 5px;
  margin: 15px 0px;
}

.image {
  width: 45%;
  margin: 50px;
  height: 90%;
}

