/* css for the first content */
.topLayout {
  height: 523px;
  margin: 5px;
  background-color: #b69f56;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.topContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 110px;
  line-height: 25px;
}

.topDescription {
  font-size: 31px;
  font-weight: bold;
  font-family: Inter;
  line-height: 1.25;
  color: white;
}

.topImage {
  width: 55%;
  margin: 90px;
  height: 86%;
}

